<div class="map-layout">
  <aside class="map-sidebar">
    <h2>Puntos Cercanos</h2>
    <div class="poi-item">
      <mat-icon color="primary">place</mat-icon>
      <div>
        <h4>Panecillo</h4>
        <p>A 2.5 km - Acceso vehicular</p>
      </div>
    </div>
    <div class="poi-item">
      <mat-icon color="primary">place</mat-icon>
      <div>
        <h4>Basílica del Voto Nacional</h4>
        <p>A 1.2 km - Tiene ascensores</p>
      </div>
    </div>
  </aside>

  <div class="map-container">
    <div class="map-frame">
      <div class="marker m-panecillo" title="Panecillo"></div>
      <div class="marker m-basilica" title="Basílica"></div>
      <div class="user-location-ping"></div>
    </div>
  </div>
</div>